---
# where to put keys and certificates
path: "/usr/home/certgrinder/certificates"

# a list of sets of domains to get certificates for
domainlist:
  - 'example.com'
  - 'example.org,example.net'

# hostname of the certgrinder server
server: "certgrinder.example.com"

# renew certificate when this many days or fewer validity left
cert_renew_threshold_days: 30

# the path of the csrgrinder binary on the remote server,
# usually in the homedir of the certgrinder user
csrgrinder_path: '~/certgrinder/csrgrinder'

# issue selfsigned if something goes wrong?
selfsigned_fallback: True

# run these after renewal of one or more certificates
#post_renew_hooks:
#  - '/usr/sbin/service nginx reload'

# set this if the ssh source ip is important
#bind_ip: "192.0.2.23"

# the full path to the sudo binary, defaults to /usr/local/bin/sudo
#sudo_path: '/usr/local/bin/sudo'

