####################################################
# csrgrinder configuration file
# This file is part of certgrinder.
# The latest version can be found on Github at
# https://github.com/tykling/certgrinder
####################################################

# This file is sourced by csrgrinder which is a Bourne sh / Posix sh script.
# This means that settings should be defined with normal shell syntax, ie. FOO=bar.

# ACMEZONE defines the zone under which DNS-01 challenges will be served.
# DNS-01 will be skipped if this is not configured
#ACMEZONE=acme.example.com

# AUTHHOOK overrides the default manual-auth-hook script which comes with Certgrinder 
#AUTHHOOK="/path/to/auth/hook/executable"

# CLEANUPHOOK overrides the default manual-cleanup-hook script which comes with Certgrinder
#CLEANUPHOOK="/path/to/cleanup/hook/executable"

