---
####################################################
# certgrinder configuration file, YAML format.
# https://certgrinder.readthedocs.io/en/latest/certgrinder.html#configuration
####################################################

####################################################
# REQUIRED SETTINGS
####################################################

# where to put keys, certificates and pidfile
#path: "~/certificates"

# A list of comma-separated sets of domains to get certificates for
#domain-list:
#  - 'example.com,www.example.com'
#  - 'example.org'
#  - 'example.net'

# command to reach the certgrinder server - command gets CSR on stdin
#certgrinderd: "ssh certgrinderd@certgrinder.example.com -T"

####################################################
# OPTIONAL SETTINGS
####################################################

# renew certificate if it has less than this many days of validity left
#cert-renew-threshold-days: 30

# a list of CA CommonNames we don't trust
#invalid-ca-cn-list:
#  - "Fake LE Intermediate X1"
#  - "Fake LE Intermediate X2"

# Enabled key types, supported are "rsa" and "ecdsa"
#key-type-list:
# - "rsa"
# - "ecdsa"

#Log messages at this severity and above. One of DEBUG, INFO, WARNING, ERROR, CRITICAL. Defaults to INFO.
#log-level: "INFO"

# the DNS server to use instead of system resolver
#name-server 91.239.100.100

# the directory to store the pid-file in
#pid-dir: /tmp

# run these commands after renewal of one or more certificates
#post-renew-hooks:
#  - '/usr/local/bin/sudo /usr/sbin/service nginx reload'

# staging mode. Makes certgrinder append --staging to the certgrinderd command. Use this until everything works to avoid LE throttling!
#staging: True

# The syslog facility to log to
#syslog-facility: 'user'

# The syslog socket to connect to
#syslog-socket: '/var/run/log'

# used for check/show tlsa
#tlsa-port: "443"
#tlsa-protocol: "tcp"
#tlsa-type-list:
#  - "310"
#  - "311"
#  - "312"
