-r requirements.txt
black==21.6b0
codecov==2.1.11
flake8==3.9.2
isort==5.8.0
pre-commit==2.12.1
mypy==0.812
Sphinx==4.0.1
sphinx-rtd-theme==0.5.2
sphinx-argparse==0.2.5
pytest==6.2.4
pytest-cov==2.12.0
pytest-randomly==3.8.0
tox==3.23.1
twine==3.4.1
