-r requirements.txt
black==19.3b0
codecov==2.0.22
flake8==3.8.3
isort==4.3.21
pre-commit==2.7.1
mypy==0.782
Sphinx==2.3.1
sphinx-rtd-theme==0.5.0
sphinx-argparse==0.2.5
pytest==5.3.4
pytest-cov==2.8.1
pytest-randomly==3.4.1
tox==3.14.3
twine==3.1.1
